.themeWrapper {
  position: relative;
}

.themeToggle {
  position: absolute;
  top: 0rem;
  right: 0rem;
  padding: 0.7rem;
  border: none;
  background: var(--background-secondary);
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.themeToggle:hover {
  transform: scale(1.1);
}