body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 0.3rem 1.5rem;
}

.headerContent {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

/* Mobile CSS */
@media (max-width: 600px) {
  header {
    padding: 0.75rem;
    font-size: 1.25rem;
  }
}